# .github/workflows/update-clamav.yml
name: Update ClamAV DB
on:
  schedule:
    - cron: '0 */4 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check if clamdb exists
        id: check_clamdb
        run: |
          if [ -d "clamdb" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Download ClamAV DB
        if: steps.check_clamdb.outputs.exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: clamav-db
          path: clamdb

      - name: Update ClamAV DB
        run: |
          mkdir clamdb
          chmod 777 clamdb
          docker run --rm -v ${{ github.workspace }}/clamdb:/clamdb clamav/clamav:latest freshclam --datadir=/clamdb

      - name: Upload DB
        uses: actions/upload-artifact@v4
        with:
          name: clamav-db
          path: clamdb/
          retention-days: 7
