name: ClamAV Scan

on:
  push:
    branches-ignore:
      - 'release'

env:
  TEST_TAG: user/app:test
  LATEST_TAG: user/app:latest

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export to Docker
        uses: docker/build-push-action@v6
        with:
          load: true
          tags: ${{ env.TEST_TAG }}

      - name: Test
        run: |
          docker run --rm ${{ env.TEST_TAG }}

