# .github/workflows/update-clamav.yml
name: Update ClamAV DB
on:
#  schedule:
#    - cron: '0 */4 * * *'
#  workflow_dispatch:
  push:
    branches-ignore:
      - 'release'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Update ClamAV DB
        run: |
          mkdir clamdb
          chmod 777 clamdb
          docker run --rm -v ${{ github.workspace }}/clamdb:/clamdb clamav/clamav:latest freshclam --datadir=/clamdb

      - name: Upload DB
        uses: actions/upload-artifact@v4
        with:
          name: clamav-db
          path: clamdb/
          retention-days: 7
