name: ClamAV Scan

on:
  push:
    branches:
      - 'DOPS-383-*'

jobs:
  build_scan_and_push:
    runs-on: ubuntu-latest
    outputs:
      repository: ${{ steps.lower-repo.outputs.repository }}
    strategy:
      matrix:
        variant: ['generic', 'erwin', 'enrichment']
    permissions:
      actions: read
      contents: read
      packages: write
      security-events: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - id: lower-repo
        name: Repository to lowercase
        run: |
          repo_var=${{ github.repository }}-${{ matrix.variant }}
          echo "repository=${repo_var@L}" >> $GITHUB_OUTPUT

      - name: Build image-name and tags
        id: docker_meta_img
        uses: docker/metadata-action@v5
        with:
          context: git
          images: |
            name=ghcr.io/${{ github.repository }}-${{ matrix.variant }}
          tags: |
            type=ref,event=branch,priority=601
            type=sha,format=long,priority=600,prefix=

      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        id: docker_build_push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          load: true
          tags: ${{ steps.docker_meta_img.outputs.tags }}
          labels: ${{ steps.docker_meta_img.outputs.labels }}
          build-args: |
            KEYCLOAK_VARIANT=${{ matrix.variant }}

      - name: Export Docker image as tar
        run: |
          docker save ghcr.io/${{ steps.lower-repo.outputs.repository }} -o image.tar
          mkdir -p ${{ github.workspace }}/clamavscan
          mv image.tar ${{ github.workspace }}/clamavscan/image.tar

      - name: Run ClamAV scan
        run: |
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest freshclam
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest clamscan /scan/image.tar > ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt

      - name: Upload ClamAV scan results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: clamav-results-${{ matrix.variant }}
          path: clamav-results-${{ matrix.variant }}.txt

      - name: Check ClamAV scan result
        run: |
          if grep -q "/scan/image.tar: OK" ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt; then
            echo "No malware found for variant ${{ matrix.variant }}."
          else
            echo "::warning::Malware detected or scan failed for variant ${{ matrix.variant }}!"
            cat ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt
            # exit 1
          fi
          
      - name: Push all scanned image tags to ghcr.io
        run: |
          echo "${{ steps.docker_meta_img.outputs.tags }}" | grep -v '^$' | while read TAG; do
            docker push "$TAG"
          done
        timeout-minutes: 10

  trivy_scan:
    needs: build_scan_and_push
    strategy:
      matrix:
        variant: ['generic', 'erwin', 'enrichment']
    permissions:
      actions: read
      security-events: write
      contents: read
    uses: ./.github/workflows/trivy.yml
    with:
      image-ref: ghcr.io/${{ github.repository }}-${{ matrix.variant }}:${{ github.sha }}

