# .github/workflows/update-clamav.yml
name: Update ClamAV DB
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Check if clamdb exists
        id: check_clamdb
        run: |
          if [ -d "clamdb" ]; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Download ClamAV DB
        if: steps.check_clamdb.outputs.exists == 'true'
        uses: actions/download-artifact@v4
        with:
          name: clamav-db
          path: clamdb

      - name: Update ClamAV DB
        run: |
          mkdir clamdb
          chmod 777 clamdb
          docker run --rm -v ${{ github.workspace }}/clamdb:/clamdb clamav/clamav:latest freshclam --datadir=/clamdb

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: clamav-db-$(date +'%Y%m%d%H%M%S')
          name: ClamAV DB Update
          body: "Automated ClamAV DB update"
          draft: false
          prerelease: false

      - name: Upload DB as Release Asset
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ steps.create_release.outputs.tag_name }}
          files: clamdb/*
