name: Dev Build and Release

on:
  push:
    branches-ignore:
      - 'release'

jobs:
  branch_meta:
    runs-on: ubuntu-latest
    outputs:
      branch: ${{ steps.extract_branch_meta.outputs.branch }}
      sha: ${{ steps.extract_branch_meta.outputs.sha }}
    steps:
      - name: Extract branch meta
        shell: bash
        id: extract_branch_meta
        env:
          PR_HEAD_REF: ${{ github.event.pull_request.head.ref }}
          PR_HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          BRANCH_REF_NAME: ${{ github.ref_name}}
          BRANCH_SHA: ${{ github.sha }}
        run: |
          if [ "${{ github.event_name }}" == 'pull_request' ]; then
            echo "branch=$PR_HEAD_REF" >> $GITHUB_OUTPUT
            echo "sha=$PR_HEAD_SHA" >> $GITHUB_OUTPUT
          else
            echo "branch=$BRANCH_REF_NAME" >> $GITHUB_OUTPUT
            echo "sha=$BRANCH_SHA" >> $GITHUB_OUTPUT
          fi

  build_and_upload_image:
    name: Publish image
    runs-on: ubuntu-latest
    needs:
      - branch_meta
    outputs:
      image_tag: ${{ steps.docker_meta_img_trivy.outputs.tags }}
    permissions:
      packages: write
      contents: read
      actions: read
      security-events: write
    strategy:
      matrix:
        variant: ['generic', 'erwin', 'enrichment']
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - id: lower-repo
        name: Repository to lowercase
        run: |
          # build lowercase (@L) repository name
          echo "repository=${{ github.repository@L }}-${{ matrix.variant@L }}" >> $GITHUB_OUTPUT


      - name: Build image name and tags
        id: docker_meta_img
        uses: docker/metadata-action@v5
        with:
          context: git
          images: |
            name=ghcr.io/${{ github.repository }}-${{ matrix.variant }}
          tags: |
            type=ref,event=branch,priority=601
            type=sha,format=long,priority=600,prefix=

      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build the container image, scan it with ClamAV, and push it to ghcr, if it passed.
        id: docker_build_push
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/amd64
          load: true
          tags: ${{ steps.docker_meta_img.outputs.tags }}
          labels: ${{ steps.docker_meta_img.outputs.labels }}
          build-args: |
            KEYCLOAK_VARIANT=${{ matrix.variant }}


      - name: Export Docker image as tar
        run: |
          mkdir -p ${{ github.workspace }}/clamavscan/container_fs
          chmod -R 777 ${{ github.workspace }}/clamavscan
          docker create --name temp_scan_container ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ needs.branch_meta.outputs.sha }}
          docker export temp_scan_container -o ${{ github.workspace }}/clamavscan/container_fs.tar
          tar -xf ${{ github.workspace }}/clamavscan/container_fs.tar -C ${{ github.workspace }}/clamavscan/container_fs
          docker rm temp_scan_container
          rm -rf ${{ github.workspace }}/clamavscan/container_fs.tar

      - name: Run ClamAV scan
        run: |
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest freshclam --datadir=/scan
          docker run --rm -v ${{ github.workspace }}/clamavscan:/scan clamav/clamav:latest clamscan /scan/container_fs -d /scan -r > ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt

      - name: Upload ClamAV scan results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: clamav-results-${{ matrix.variant }}
          path: clamav-results-${{ matrix.variant }}.txt

      - name: Check ClamAV scan result
        run: |
          if grep -q "Infected files: 0" ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt; then
            echo "No malware found for variant ${{ matrix.variant }}."
          else
            echo "::warning::Malware detected or scan failed for variant ${{ matrix.variant }}!"
            cat ${{ github.workspace }}/clamav-results-${{ matrix.variant }}.txt
            exit 1
          fi
          
      - name: Push scanned image to ghcr.io, if it passed

        run: |
          echo "${{ steps.docker_meta_img.outputs.tags }}" | grep -v '^$' | while read TAG; do
            docker push "$TAG"
          done
        timeout-minutes: 10

      - name: run trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.29.0
        with:
          image-ref: ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ needs.branch_meta.outputs.sha }}
          format: "sarif"
          output: "trivy-results.sarif"
          severity: "CRITICAL,HIGH"
          ignore-unfixed: true
          scan-type: 'image'
        env:
          TRIVY_SKIP_DB_UPDATE: false
          TRIVY_SKIP_JAVA_DB_UPDATE: false
      - name: upload trivy results
        if: ${{ always() }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: "trivy-results.sarif"
          
  scan:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/check-helm-kics.yaml@5
    permissions:
      contents: read
  helm_release_sha:
    runs-on: ubuntu-latest
    concurrency:
      group: helm_release
      cancel-in-progress: false
    needs:
      - scan
      - branch_meta
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - id: lower-helm-repo
        name: Repository to lowercase
        run: |
          # build lowercase (@L) repository name
          echo "repository=${{ github.repository@L }}" >> $GITHUB_OUTPUT
      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push helm chart to ghcr
        shell: bash
        id: extract_branch_meta
        env:
          CHART_VERSION: "0.0.1-${{ needs.branch_meta.outputs.sha }}"
          CHART_APP_VERSION: "0.0.1-${{ needs.branch_meta.outputs.sha }}"
          CHART_NAME: "dbp-keycloak"
          CHART_DIR: "helm"
        run: |
          helm version
          helm package "$CHART_DIR/$CHART_NAME" --version $CHART_VERSION --app-version $CHART_APP_VERSION
          helm push "$CHART_NAME-$CHART_VERSION.tgz" oci://ghcr.io/${{ steps.lower-helm-repo.outputs.repository }}


  helm_release_branch:
    runs-on: ubuntu-latest
    concurrency:
      group: helm_release
      cancel-in-progress: false
    needs:
      - scan
      - branch_meta
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - id: lower-helm-repo
        name: Repository to lowercase
        run: |
          repo_var=${{ github.repository }}
          echo "repository=${repo_var@L}" >> $GITHUB_OUTPUT
      - name: Log into ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push helm chart to ghcr
        shell: bash
        id: extract_branch_meta
        env:
          CHART_VERSION: "0.0.1-${{ needs.branch_meta.outputs.branch }}"
          CHART_APP_VERSION: "0.0.1-${{ needs.branch_meta.outputs.branch }}"
          CHART_NAME: "dbp-keycloak"
          CHART_DIR: "helm"
        run: |
          helm version
          helm package "$CHART_DIR/$CHART_NAME" --version $CHART_VERSION --app-version $CHART_APP_VERSION
          helm push "$CHART_NAME-$CHART_VERSION.tgz" oci://ghcr.io/${{ steps.lower-helm-repo.outputs.repository }}
