name: Semantic Release

on:
  push:
    branches:
      #- 'release'
      - 'DBP-1845-Add-project-keycloak-variant'
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
      - name: Install dependencies
        run: >
          npm install -g
          semantic-release
          @semantic-release/commit-analyzer
          @semantic-release/release-notes-generator
          @semantic-release/git
          @semantic-release/github
      # - name: Run Semantic-Release
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   run: npx semantic-release

  get_tag:
    runs-on: ubuntu-latest
    needs: release
    permissions:
      contents: read
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - id: get_tag
        run: |
         tag=$(git describe --abbrev=0 --tags)
         echo "tag=$tag" >> $GITHUB_OUTPUT 
        #->set 0.0.1 for testing

  build_and_upload_image:
    name: Publish image
    needs:
      - get_tag
    runs-on: ubuntu-latest
    permissions:
      packages: write
      actions: read
      contents: read
      security-events: write
    strategy:
      matrix:
        variant: ['generic', 'erwin', 'enrichment', 'internal']
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.get_tag.outputs.tag }}
          fetch-tags: true

      - name: Get keycloak image version
        id: get_keycloak_version
        run: |
          DEFAULT_VERSION=$(cat "./variants/base/keycloak-version")
          KEYCLOAK_VARIANT_VERSION_FILE="./variants/${{ matrix.variant }}/keycloak-version"
          if [ -f "$KEYCLOAK_VARIANT_VERSION_FILE" ]; then
            KEYCLOAK_VERSION=$(cat "$KEYCLOAK_VARIANT_VERSION_FILE")
          else
            KEYCLOAK_VERSION=$DEFAULT_VERSION
          fi
          echo "keycloak_version=$KEYCLOAK_VERSION" >> $GITHUB_OUTPUT

      - name: Build image name and tags
        id: docker_meta_img
        uses: docker/metadata-action@v5.7.0
        with:
          context: git
          images: |
            name=ghcr.io/${{ github.repository }}-${{ matrix.variant }}
          labels: |
            org.opencontainers.image.version=${{ needs.get_tag.outputs.tag }}
          tags: |
            type=raw,value=${{ steps.get_keycloak_version.outputs.keycloak_version }}-${{ needs.get_tag.outputs.tag }}
            type=raw,value=latest

      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: lower-repo
        name: Repository to lowercase
        run: |
          repo_var=${{ github.repository }}-${{ matrix.variant }}
          echo "repository=${repo_var@L}" >> $GITHUB_OUTPUT



      # - name: Build and push image to ghcr
      #   id: docker_build_push
      #   uses: docker/build-push-action@v6
      #   with:
      #     context: .
      #     platforms: linux/amd64
      #     push: true
      #     pull: true
      #     tags: ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ needs.get_tag.outputs.tag }}
      #     labels: ${{ steps.docker_meta_img.outputs.labels }}
      #     build-args: |
      #       KEYCLOAK_VARIANT=${{ matrix.variant }}
      #       KEYCLOAK_VERSION=${{ steps.get_keycloak_version.outputs.keycloak_version }}

      # - name: run trivy vulnerability scanner
      #   uses: aquasecurity/trivy-action@0.29.0
      #   with:
      #     image-ref: ghcr.io/${{ steps.lower-repo.outputs.repository }}:${{ needs.get_tag.outputs.tag }}
      #     format: "sarif"
      #     output: "trivy-results.sarif"
      #     severity: "CRITICAL,HIGH"
      #     ignore-unfixed: true
      #     scan-type: 'image'
      #   env:
      #     TRIVY_SKIP_DB_UPDATE: false
      #     TRIVY_SKIP_JAVA_DB_UPDATE: false
      # - name: upload trivy results
      #   if: ${{ always() }}
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: "trivy-results.sarif"

  # Helm Chart
  scan_helm:
    uses: dBildungsplattform/dbp-github-workflows/.github/workflows/check-helm-kics.yaml@5
    permissions:
      contents: read

  # release_helm:
  #   runs-on: ubuntu-latest
  #   permissions:
  #     contents: read
  #     packages: write
  #   concurrency:
  #     group: helm_release
  #     cancel-in-progress: false
  #   needs:
  #    - scan_helm
  #    - build_and_upload_image
  #    - get_tag
  #   steps:
  #     - name: Checkout Code
  #       uses: actions/checkout@v4
  #     - id: lower-helm-repo
  #       name: Repository to lowercase
  #       run: |
  #         repo_var=${{ github.repository }}
  #         echo "repository=${repo_var@L}" >> $GITHUB_OUTPUT
  #     - name: Log into ghcr.io
  #       uses: docker/login-action@v3
  #       with:
  #         registry: ghcr.io
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GITHUB_TOKEN }}
  #     - name: Push helm chart to ghcr
  #       shell: bash
  #       id: extract_branch_meta
  #       env:
  #         CHART_VERSION: "${{ needs.get_tag.outputs.tag }}"
  #         CHART_NAME: "dbp-keycloak"
  #         CHART_DIR: "helm"
  #       run: |
  #         helm version
  #         helm package "$CHART_DIR/$CHART_NAME" --version $CHART_VERSION
  #         helm push "$CHART_NAME-$CHART_VERSION.tgz" oci://ghcr.io/${{ steps.lower-helm-repo.outputs.repository }}
